@model IEnumerable<Lession2DBFirst.Models.Order_Detail>

@{
    ViewBag.Title = "Index";
}

<h2>DS CTĐH</h2>

@using (Html.BeginForm())
{
    <p>
        <input name="search" class="btn-outline-primary" placeholder="Nhập tên mã đơn hàng tìm kiếm" />
        <input type="submit" value="Tìm" class="btn btn-outline-success" style="margin-bottom: 3px; padding: 2px 15px; " />
    </p>
}

<p style="float:right;">
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-info text-right" })
</p>

<table class="table table-striped table-bordered">
    <tr class="table-dark">
        <th style="text-align: center">
            Mã CTĐH
        </th>
        <th style="text-align: center">
            Mã SP
        </th>
        <th style="text-align: center">
            Mã đơn hàng
        </th>
        <th style="text-align: center">
            Số lượng
        </th>
        <th style="text-align: center">
            Giá
        </th>
        <th style="text-align: center">
            Thao tác
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table-info">
            <td>
                @item.OrderDetailId
            </td>
            <td>
                @item.ProductId
            </td>
            <td>
                @item.OrderId
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @item.UnitPrice
            </td>

            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.OrderDetailId }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.OrderDetailId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderDetailId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
