@model DB.DbAccess.Product
@{
    ViewBag.Title = "Detail";
}

<h3 class="text-primary">Chi tiết SP - @Model.ProductID</h3>

<div>
    <hr />
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-dark">
                <th style="text-align: center">Tên SP</th>
                <th style="text-align: center">Số lượng</th>
                <th style="text-align: center">Giá</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-info">
                <td>@Model.Name</td>
                <td>@Model.Quantity</td>
                <td>@Model.Price</td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    <a href="~/Products/Index" class="btn btn-warning">Trở lại</a>
    <a href="~/Products/Edit/@Model.ProductID" class="btn btn-primary">Sửa</a>
    @*@Html.ActionLink("Trở lại", "Index", null, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Lưu", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary" })*@
</p>



