@model Lession2DBFirst.Models.Product

@{
    ViewBag.Title = "Xóa";
}

<h4 style="color: red">Bạn có chắc chắn muốn xóa SP có ID - @Model.ProductID</h4>
<div>
    <hr />
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-dark">
                <th style="text-align: center">Tên SP</th>
                <th style="text-align: center">Số lượng</th>
                <th style="text-align: center">Giá</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-info">
                <td>@Model.Name</td>
                <td>@Model.Quantity</td>
                <td>@Model.Price</td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-warning" }) |
    <input type="submit" value="Xóa" class="btn btn-danger" /> 
</div>
    }
</div>
