@model Lession2DBFirst.Models.Order

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p>Tên KH</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <p>Thời gian</p>

                @*@Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control datetimepicker" } })*@

                <input class="form-control" name="DateTime" value="@Html.Raw(DateTime.Now.ToString("yyyy-MM-dd HH:mm").Replace(' ','T'))" type="datetime-local" />
                @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="form-group ">
            <div class="col-md-offset-2 col-md-10 mt-3">
                <input type="submit" value="Thêm" class="btn btn-success" /> |
                @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



