@model DB.DbAccess.Order_Detail
@{
    ViewBag.Title = "Detail";
}

<h3 class="text-primary">Chi tiết hóa đơn - @Model.OrderDetailId</h3>

<div>
    <hr />
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-dark">
                <th style="text-align: center">Mã chi tiết hóa đơn</th>
                <th style="text-align: center">Mã hóa đơn</th>
                <th style="text-align: center">Mã sản phẩm</th>
                <th style="text-align: center">Số lượng</th>
                <th style="text-align: center">Giá bán</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-info">
                <td>@Model.OrderDetailId</td>
                <td>@Model.OrderId</td>
                <td>@Model.ProductId</td>
                <td>@Model.Quantity</td>
                <td>@Model.UnitPrice</td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    <a href="~/OrderDetail/Index" class="btn btn-warning">Trở lại</a>
    @*<a href="~/Orders/Edit/@Model.OrderDetailId" class="btn btn-primary">Sửa</a>*@
</p>



